<div class="container-fluid titulo">
  <h3>Convenios UTM</h3>
</div>
<div class="container-fluid selector">
  <form [formGroup]="selector" autocomplete="off">
    <div class="row">
      <div class="col-sm">
        <mat-form-field class="container-fill" appearance="fill">
          <mat-label>Tipos de Convenios</mat-label>
          <mat-select formControlName="conveniostipo" (selectionChange)="cambioConveniosTipos($event)">
            <mat-option value="A">Convenios Aprobados</mat-option>
            <mat-option value="G">Convenios Guardados</mat-option>
            <mat-option value="P">Convenios Plantillas</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="
            selector.get('conveniostipo')?.hasError('required') &&
            selector.get('conveniostipo')?.touched
          " style="margin-top: -20px">
          <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
        </div>
      </div>
      <div class="col-sm">
        <button disabled="{{generarReporte}}"  (click)="generarReporteAccion()" mat-flat-button color="primary"> <mat-icon>print</mat-icon> Generar Reporte</button>
      </div>

    </div>
    

  </form>
</div>

<ng-container *ngIf="tabla == true">
  <ng-container *ngIf="loading==true">
    <app-loadingconvenios></app-loadingconvenios>
  </ng-container>
<ng-container *ngIf="loading==false">
  <!-- <pre>{{myform.value |json}}</pre> -->
  <div style="margin: 15px">
    <mat-form-field class="mat-form-field-filtro">
      <mat-label>Filtro</mat-label>
      <input matInput [(ngModel)]="filtro" (keyup)="applyFilter($event)" placeholder="Filtro Tabla" />
      <button *ngIf="filtro" matSuffix mat-icon-button aria-label="Clear" (click)="filtro=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
     
    <table class="table table-responsive table-primary" style="margin: 1px; ">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titulo</th>
          <th scope="col">F. Creación</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of listaConv | pagination :pageSize :pageNumber | buscarConvenio :filtro;">
          <th scope="row">{{c.position}}</th>
          <td>{{c.titulo_convenio}}</td>
          <td>{{c.fecha_creacion}}</td>
          <td>
            <ng-container *ngIf="selector.get('conveniostipo')?.value=='A'">
              <a (click)="conveniosURL(c.id,'A',c.PDF)" class="btn btn-primary" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                  width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                  <path
                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                </svg></a>
            </ng-container>

            <ng-container *ngIf="selector.get('conveniostipo')?.value=='G'||selector.get('conveniostipo')?.value=='P'">
              <button [disabled]="botonvista" class="btn btn-primary" (click)="conveniosURL(c.id,'G',c.PDF)">
                <a  target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                  fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                  <path
                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                </svg></a>
              </button>
              
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <mat-paginator [length]="listaConv.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page" (page)="handlePagePending($event)">
      </mat-paginator>
    </div>
  </div>
</ng-container>
  
  <!-- </form> -->
</ng-container>