<div class="border"></div>

<div class="container-fluid ">
    <div class="col-sm titulo">
        <mat-card-title>Pagina Becas por nivel</mat-card-title>
    </div>
</div>
<div class="container-fluid" >
    <div class="row row-cols-1 row-cols-md-5 g-4" style="margin-top: 1%; margin-bottom: 3%; justify-content: center;">
        <a (click)="direccionar('C')" >
            <mat-card  class="card">
                <h5 class="letras">Capacitaciones</h5>
                <img   [src]="pathcapacitaciones" width="55%">
            </mat-card>
        </a>
        <a (click)="direccionar('P')" >
            <mat-card  class="card">
                <h5 class="letras">Movilidad</h5>
                <img  [src]="pathpregrado" width="55%">
            </mat-card>
        </a>
        <a (click)="direccionar('I')" >
            <mat-card  class="card">
                <h5 class="letras">Investigacion</h5>
                <img   [src]="pathinvestigacion" width="55%">
            </mat-card>
        </a>
        <a (click)="direccionar('M')" >
            <mat-card  class="card">
                <h5 class="letras">Maestria</h5>
                <img   [src]="pathmaestria" width="55%">
            </mat-card>
        </a>
        <a (click)="direccionar('D')" >
            <mat-card  class="card">
                <h5 class="letras">Doctorado</h5>
                <img   [src]="pathdoctorado" width="55%">
            </mat-card>
        </a>
        
    </div>
</div>
<div class="container-fluid">
    <footer>
        ..
    </footer>
</div>



