.titulo{
    margin-top: 3%;
    text-align: center;
    margin-bottom: 4%;

}

.selector{
    text-align: center;
    margin-bottom: 3%;
   
}
.card{
    border: none;
    width: 25%; 
    margin-left: 38%;
    margin-top: 2%;
    /* background-color: rgb(220, 230, 228); */
}

.icon{
    width: 30%; 
    height: 30%;
}

.container-fill{
    width: 10%;
}

.icon-container{
    margin-top: 4%;
    display: inline-block;
    position: relative;
}
.mda-form-msg{
    color: #f57c74;
}

.container-button{
    position: absolute;
    margin-left: 55%;
    top: 78%;
    background-color: rgb(71, 168, 112);
    width: 25px;
    height: 25px;
    border-radius:0%;
}
.btn_enviar{
    position: absolute;
    width: 30px;
    left: 0.1%;
    opacity: 0;
   }
   p#texto{
       text-align: center;
       color:white;
     }

.container-fill{
    width: 70%;
    margin-top: 2%;
}
.button-agregar{
    margin-top: 0.7%;
}

.button-agregar_firma{
    margin-top: 4%;
}

/* .button-agregar-body{
    height: 65%;
} */

.mda-form-msg{
    color: #f57c74;
}
/* .categoria{
    
} */

.titulo2{
    margin-top: 2%;
}

.titulo2_1{
    margin-left: 2%;
}

.contenido{
    margin-left: 2%;
}
.nombre-convenio{
    text-align: center;
}
.container-fill{
    width: 70%;
}

.wrapper{
    /* position: fixed; */
    justify-content: center;
    display: flex;
}
.formContent{
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 100%;
    max-width: 90%;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}
h4.inactive {
    color: #cccccc;
  }
  
h4.active {
    color: gray;
    border-bottom: 2px solid rgb(70, 148, 194);
}

@media(max-width:33.125em)
{
    .titulo{
        font-size: 80%;
    }

}
*:focus {
    outline: none;
} 

.mda-form-msg{
    color: #f57c74;
}

.container1{
    margin-top: 2%;
    margin-bottom: 5%;
}
.border{
   
    border-bottom: 2px solid rgb(110, 158, 182) !important;
     margin-bottom: 2%;
}

.clausula{
    text-align: end;
}

@media(max-width:47.938em)
{
    .clausula{
        text-align: center;
    }

}

.container-fill-articulo{
    width: 50%;
}

.container-fill-nombre{
    width: 60%;
}

/* @media(max-width:69.313em)
{
    .container-button{
        position: absolute;
        margin-left: 51%;
        top: 24%;
        background-color: rgb(71, 168, 112);
        width: 25px;
        height: 25px;
        border-radius:0%;
    }
}

@media(max-width:52.313em)
{
    .container-button{
        position: absolute;
        margin-left: 51%;
        top: 23%;
        background-color: rgb(71, 168, 112);
        width: 25px;
        height: 25px;
        border-radius:0%;
    }
}

@media(max-width:45.688em)
{
    .container-button{
        position: absolute;
        margin-left: 51%;
        top: 21%;
        background-color: rgb(71, 168, 112);
        width: 25px;
        height: 25px;
        border-radius:0%;
    }
}

@media(max-width:42.188em)
{
    .container-button{
        position: absolute;
        margin-left: 51%;
        top: 19%;
        background-color: rgb(71, 168, 112);
        width: 25px;
        height: 25px;
        border-radius:0%;
    }
    

}


@media(max-width:39.375em)
{
    .container-button{
        position: absolute;
        margin-left: 51%;
        top: 21%;
        background-color: rgb(71, 168, 112);
        width: 25px;
        height: 25px;
        border-radius:0%;
    }
    

}

@media(max-width:30.063em)
{
    .container-button{
        position: absolute;
        margin-left: 51%;
        top: 20%;
        background-color: rgb(71, 168, 112);
        width: 25px;
        height: 25px;
        border-radius:0%;
    }
}
@media(max-width:24.563em)
{
    .container-button{
        position: absolute;
        margin-left: 51%;
        top: 19%;
        background-color: rgb(71, 168, 112);
        width: 25px;
        height: 25px;
        border-radius:0%;
    }
} */




