.titulo{
    text-align: center;
    font-size: 18px;
    color: rgb(118, 158, 190);
    /* font-family: 'Raleway', sans-serif; */
     font-family: 'Raleway', sans-serif; 
}
.container-fill{
    text-align: center;
    width: 70%;
    color: rgb(82, 107, 187);
}
/* .label-des{
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
} */

.contenido{
    text-align: center;
}

.button-action{
    justify-content: center;
}

.disabled{
    pointer-events: none;
}
.enable{
    pointer-events: auto;

}

.container-fill{
    width: 70%;
    text-align: center;
    font-weight:bold;
}

.container-font{
    font-weight:bold;
    text-align: center;
}

/* borde */
.border{
   
    border-bottom: 2px solid rgb(176, 204, 179) !important;
     margin-bottom: 2%;
     background-color: rgb(172, 201, 175);
     margin-top: 1.5%;
     text-align: center;
}



/* menu */
.header_nav3{
    background-color: #fff;
    box-shadow: 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.1);
    /* position: fixed; */
    width: 100%;
    z-index: 3;
    /* gradiente */
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}
a{
    color: #000;
    text-decoration: none;
}

.menu2{
    /* margin:10px 0px 0px 60px; */
    padding: 0;
    list-style: none;
    overflow: hidden;

    background-color: #fff;
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
  }
  .header_nav3 ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header_nav3 ul a{
    display: block;
    padding: 20px;
    text-decoration: none;
}
.header_nav3 .menu1{
    clear: both;
}

.header_nav3 li{
    float: left;
}

    /* separador de los a href */
.header_nav3 li a{
    padding: 10px 20px;
}

/* menu la posicion */
.header_nav3 .menu2{
    clear: none;
    max-height: none;
    display: flex;
    justify-content: center;
}

.menu2 li a{
    display: block;
    line-height: 2rem;
    color: rgb(36, 34, 34);
    text-decoration: none;
    cursor: pointer;
}

.menu2 li a:hover{
    background-color: rgb(185, 216, 224);
        text-decoration: none;
        border: 0.1px solid whitesmoke;
        box-shadow: 0px -1px;
}

.header_nav3 .menu-btn2{
        display: none;
}



@media  (max-width:73.75em)
{ 

    .header_nav3{
        background-color: #fff;
        box-shadow: 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.1);
        /* position: fixed; */
        width: 100%;
        z-index: 3;
        display: block;
    }
    .header_nav3 ul{
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
    }
    .header_nav3 ul a{
        display: block;
        padding: 20px;
        text-decoration: none;
    }

    .header_nav3 ul a:hover{
        background-color: rgb(185, 216, 224);
    }
    .header_nav3 .menu2{
        
        clear: both;
        display: block;
        display: block;
        justify-content: start;
        max-height: 0;
        transition:max-height .2s ease-out ;
     }
     .header_nav3 .menu-icon2{
        padding: 30px 25px;
        position: relative;
        float: right;
        cursor: pointer;
    }
    .header_nav3 .menu-icon2 .nav-icon2{
        background-color: #333;
        display: block;
        height: 2px;
        width: 18px;
        position: relative;
        transition: background .2s ease-out;
    }

    .header_nav3 .menu-icon2 .nav-icon2:before{
        background: #333;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        transition: all .2s ease-out;
        top: 5px;
    }
    
    .header_nav3 .menu-icon2 .nav-icon2:after{
      background: #333;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      transition: all .2s ease-out;
      top: -5px;
    }
    .header_nav3 .menu-btn2{
        display: none;
    }

    .header_nav3 .menu-btn2:checked ~ .menu2{
        max-height: 300px;
      }
       /* Animacion de la x */
       /* El menu la trasaccion de desaparecer el icono del menu y aparezca el icono de la x */
     
      
      /* primera linea */
    .header_nav3 .menu-btn2:checked ~.menu-icon2 .nav-icon2:after{
        transform:rotate(45deg);
        top: 0;
    } 
       /* linea del medio */
       .header_nav3 .menu-btn2:checked ~.menu-icon2 .nav-icon2{
        background: transparent;
      }
      /* ultima linea */
      .header_nav3 .menu-btn2:checked ~.menu-icon2 .nav-icon2:before{
          transform:rotate(-45deg);
          top: 0;
    
    }

  

    
    
}

