
<ng-container *ngIf="loading">
 <app-loadinglogin></app-loadinglogin>
</ng-container>
<div class="separador"></div>
<div class="container-fluid wrapper fadeInDown">
    <div class="formContent rounded">
            <div>
                <img src="{{pathrecuperar}}" class="icon" alt="User Icon" />
            </div>
            <h5 class="active"><span class="titulo">¿Tienes problemas para iniciar sesión?</span></h5>
        <div class="fadeIn first">
              <div>
                  
              </div>
             <h6 class="body fadeIn second">
                Ingresa tu correo electrónico y te enviaremos un enlace <br> para que recuperes el acceso a tu cuenta.

             </h6>
             <input type="text" id="login" class="fadeIn third" placeholder="Correo electronico" [(ngModel)]="correo_usuario">
             <input type="submit" (click)="Enviarenlace()"  class="fadeIn fourth" value="Enviar enlace de inicio">
        </div>
    </div>

  
</div>


