.mat-form-field-filtro{
    font-size: 14px;
    width: 100%;
}

.titulo{
    text-align: center;
    text-align: end;
    padding: 40px;
    
    }
    
    .boton{
    text-align: end;
    padding: 40px;
    
    
    }