<div mat-dialog-content class="contenido">
    <p class="titulo">{{data.titulo}}</p>
    <div class="row">
        <div class="col-sm" style="text-align: start;">
            <span><strong style="font-size: 18px;">Nombres: </strong> {{nombres}}</span>
        </div>
        <div class="col-sm" style="text-align: start;">
            <span><strong style="font-size: 18px;">Apellidos: </strong> {{apellidos}}</span>
        </div>
    </div>
    
    <div class="col-sm" style="margin-top: 2%;">
        <table class="table table-responsive table-primary" style="margin: 1px; ">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Carrera</th>
                <th scope="col">Naturaleza Movilidad</th>
                <th scope="col">Universidad Destino</th>
                <th scope="col">Fecha Inicio</th>
                <th scope="col">Fecha Fin</th>
                <th scope="col">Estado</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of listsolicitud | pagination :pageSize :pageNumber">
                <th scope="row">{{c.position}}</th>
                <td>{{c.nombre_carrera}}</td>
                <td>{{c.naturaleza}}</td>
                <td>{{c.universidad_destino}}</td>
                <td>{{c.fecha_inicio}}</td>
                <td>{{c.fecha_fin}}</td>
                <ng-container *ngIf="c.estado_solicitud=='APROBADO'">
                    <td class="texto-borde-a">{{c.estado_solicitud}}</td>
                </ng-container>
                <ng-container *ngIf="c.estado_solicitud=='PENDIENTE'">
                    <td class="texto-borde-p" >{{c.estado_solicitud}}</td>
                </ng-container>
                <ng-container *ngIf="c.estado_solicitud=='RECHAZADO'">
                    <td class="texto-borde-r">{{c.estado_solicitud}}</td>
                </ng-container>


              </tr>
            </tbody>
          </table>
           <!-- paginador -->
           <div>
            <mat-paginator [length]="listsolicitud.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page" (page)="handlePagePending($event)">
            </mat-paginator>
          </div>
    </div>
  </div>

  <div mat-dialog-actions class="button-action">
    <!-- <button mat-button color="accent" (click)="onNoClick()">Cancelar</button> -->
    <button mat-flat-button color="primary" [mat-dialog-close]="data.objeto" cdkFocusInitial>Aceptar</button>
  </div>
