.card
{
   margin-left: 50%;
    width: 25%;
}

.img{
    width: 60px;
}
.titulo{
    text-align: end; margin: 2%;
}

.reloj-container{
 text-align: end;
}

.negativo{
    background-color: rgb(192, 133, 133);
}

.clock {
    display: grid;
    grid-gap: 1px 5px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    width: 20%;
}

.clock p {
    color: #666;
    font-size: 2rem;
}

.hours {
    grid-column-start: 1;
    grid-column-end: 3;
}

.horas {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: baseline;
}

span {
    color: #777777;
}

.mishoras {
    font-weight: bold;
    font-size: 1.4rem;
    color: #666;
    margin-right: 2%;
}

.ampm {
    font-size: 1.4rem;
    font-weight: 200;
}

.segundos {
    width: 100%;
    text-align: right;
    font-size: 0.8rem;
    font-size: 100;
}

@media(max-width:35.969em)
{
    .titulo h2
    {
        font-size: 1.2rem;
        text-align: center;
    }
    .img{
        display: none;
    }
    .mishoras{
        font-size: 1.2rem;
        color: #666;
    }

}
.mat-form-field-filtro{
    font-size: 14px;
    width: 100%;
}
.table tr{
    font-size: 13.5px;
}
.border{
    border-bottom: 2px solid rgb(103, 155, 185) !important;
}