<div class="container-fluid">
    <div class=" container-fluid row">
        <div class="col-sm-6 titulo">
            <h1>Convenios</h1>
        </div>
        <div class="col-sm" style="margin-top: 1%; text-align: end;">
            <img class="img" src="http://3.15.185.2/Contenido/Imagenes/escudo.png" alt="">
     </div>
    </div>
</div>
<div class="col-sm reloj-container">
    <div class="reloj">
        <span class="mishoras">Hora: {{hora}}:{{minutos}} {{ampm}}</span>
    </div>
  <!-- <div class="clock">
    <div class="hours">
        <div class="horas">
            <span class="mishoras">{{hora}}:{{minutos}}</span>
            <span class="ampm">{{ampm}}</span>
        </div>
    </div>
  </div> -->
</div>



