.titulo{
    text-align: center;
    font-size: 18px;
    color: rgb(118, 158, 190);
    /* font-family: 'Raleway', sans-serif; */
     font-family: 'Raleway', sans-serif; 
}
.container-fill{
    text-align: center;
    width: 70%;
   
}
/* .label-des{
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
} */

.contenido{
    text-align: center;
}

.wrapper{
    /* position: fixed; */
    justify-content: center;
    display: flex;
}
.formContent{
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 100%;
    max-width: 95%;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

h5.inactive {
    color: #cccccc;
  }
  
h5.active {
    color: gray;
    /* text-align: start; */
    /* border-bottom: 2px solid rgb(100, 146, 100); */
}
.icon{
    width: 15%;
}

.body{
    margin-top: 30px;
    color: gray;
    text-align: center;
    margin-left: 25px;
}

.button-action{
    justify-content: center;
}

.container-fill{
    width: 70%;
}



/* boton input  */
.boton-container{
    display: inline-block;
    position: relative;
    /* margin-top: 5%; */
}

.container-button{
position: absolute;
margin-left: 38%;
top: 70%;
background-color: rgb(143, 138, 138);
width: 50px;
height: 50px;
border-radius:0%;
}
.btn_enviar{
position: absolute;
width: 50px;
left: 0.1%;
opacity: 0;
}
p#texto{
   margin-top: 8px;
   text-align: center;
   color:white;
}
