<ng-container *ngIf="loadingspinner">
    <app-spinnerbecas></app-spinnerbecas>
</ng-container>
<div class="container-fluid titulo">
    <h3> Subir Documento Final Becas UTM</h3>
</div>
<ng-container *ngIf="tabla==true">
    <ng-container *ngIf="loadingspinner==false">
        <div style="margin: 15px">
            <!-- filtro -->
    <mat-form-field class="mat-form-field-filtro">
        <mat-label>Filtro</mat-label>
        <input matInput [(ngModel)]="filtro" (keyup)="applyFilter($event)" placeholder="Filtro Tabla" />
        <button *ngIf="filtro" matSuffix mat-icon-button aria-label="Clear" (click)="filtro=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <!-- tabla -->
    <table class="table table-bordered table-responsive table-primary" style="margin: 1px; ">
        <thead>
            <tr style="text-align: center; font-size: 14px;">
              <th scope="col">#</th>
              <th scope="col">Cedula</th>
              <th scope="col">Nombres</th>
              <th scope="col">Facultad</th>
              <th scope="col">Naturaleza Movilidad</th>
              <th scope="col">Universidad Destino</th>
              <th style="width: 7%;" scope="col">Fecha Inicio</th>
              <th style="width: 7%;" scope="col">Fecha Fin</th>
              <th scope="col">Acciones</th>

            </tr>
          </thead>
          <tbody>
            <tr style="text-align: justify;" *ngFor="let c of listsolicitud | pagination :pageSize :pageNumber | buscarsolicitudmovilidad: filtro">
                <th scope="row">{{c.position}}</th>
                <td style="font-size: 13px;">{{c.cedula}}</td>
                <td style="font-size: 13px;">{{c.nombres}} {{c.apellidos}}</td>
                <td style="font-size: 13px;">{{c.nombre_facultad}}</td>
                <td style="font-size: 13px;">{{c.naturaleza}}</td>
                <td style="font-size: 13px;">{{c.universidad_destino}}</td>
                <td style="font-size: 13px;">{{c.fecha_inicio}}</td>
                <td style="font-size: 13px;">{{c.fecha_fin}}</td>
                <td>
                    <div class="example-button-container">
                        <button title="Subir Documento" (click)="subir(c.s_aprobadas_id,c.nombres,c.apellidos)" mat-mini-fab color="primary">
                          <mat-icon>file_upload</mat-icon>
                        </button>
                      </div>
                </td>

            </tr>
          </tbody>
    </table>
     <!-- paginador -->
     <div>
        <mat-paginator [length]="listsolicitud.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page" (page)="handlePagePending($event)">
        </mat-paginator>
      </div>
        
        </div>
    </ng-container>

</ng-container>
