<div class="container-fluid">
    <div class="row">
        <div class="col-sm mt-4">
            <mat-form-field class="container-fill" appearance="fill">
                <mat-label>Convenio</mat-label>
                <mat-select >
                  <mat-option value="M">Masculino</mat-option>
                  <mat-option value="F">Femenino</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-sm mt-4">
            <mat-form-field class="container-fill" appearance="fill">
                <mat-label>Convenio Especifico</mat-label>
                <mat-select >
                  <mat-option value="M">Masculino</mat-option>
                  <mat-option value="F">Femenino</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-sm mt-4">
             <button class="btn-success container-fill">Ingresar tipo Convenio</button>
        </div>
    </div>
</div>