<div class="container-fluid logo">
    <img src="{{ pathimagen }}" alt="" />
</div>

<ng-container *ngIf="loading">
    <app-loading></app-loading>
</ng-container>

<ng-container *ngIf="loading==false">

    <ng-container *ngIf="verificar">
        <ng-container *ngFor="let lista of lista_becas;">
            <div >
                <div class="container-fluid title">
                    <h1>{{lista.nombre}}</h1>
                </div>

                <ng-container *ngFor="let lista_body of lista.becas_nivel_body">
                    <div>
                        <table class="table tablabody">
                            <thead>
                                <tr>
                                    <th style="width: 20%;" scope="col-md-4">Tema</th>
                                    <th style="width: 60%;" scope="col-md-4">

                                       <div [innerHTML]='lista_body.nombre'></div>

                                    </th>
                                    <th scope="col-md-4">INFO</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>Pais</b></td>
                                    <td>
                                        <div [innerHTML]='lista_body.pais'></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Idioma</b></td>
                                    <td>
                                        <div [innerHTML]='lista_body.idioma'></div> 
                                    </td>
                                </tr>
                                <ng-container *ngIf="lista_body.area_estudio!=null">
                                    <tr>
                                        <td><b>Area de Estudio</b></td>
                                        <td>
                                            <div [innerHTML]='lista_body.area_estudio'></div> 
                                        </td>
                                    </tr>
                                </ng-container>
                                
                
                                <tr>
                                    <td><b>Fecha de Postulacion</b></td>
                                    <td>
                                        <div [innerHTML]='lista_body.fecha_postulacion'></div> 
                                    </td>
                                    <td>
                                        <ng-container *ngIf="lista_body.pdf!=null">
                                            <a href="{{lista_body.pdf}}" class="btn btn-success" target="_blank"><span class="titulo-button">Descargar&nbsp;</span><svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-download button" viewBox="0 2 18 18">
                                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/></svg></a>
                                        </ng-container>
                                        <ng-container *ngIf="lista_body.pdf==null">
                                            <a  class="btn btn-success" target="_blank"><span class="titulo-button">Descargar&nbsp;</span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-download button" viewBox="0 2 18 18">
                                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/></svg></a>
                                        </ng-container>
                                </tr>
                                <ng-container *ngIf="lista_body.url!=null">
                                    <tr>
                                        <td><b>Url</b></td>
                                        <td>
                                            <a  class="btn btn-outline-dark button-link"href="{{lista_body.url}}" target="_black">Info
                                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
                                                  <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                                                  <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
                                                </svg>
                                            </a>
                                            <a class="link" href="{{lista_body.url}}" target="_blank">{{lista_body.url}}</a></td>
                                     </tr>    
                                </ng-container>
                                <ng-container *ngIf="lista_body.modalidad!=null">
                                    <tr>
                                        <td><b>Modalidad</b></td>
                                        
                                        <td>
                                            <div [innerHTML]='lista_body.modalidad'></div>
                                        </td>
                                     </tr>
                                </ng-container>
                                <ng-container *ngIf="lista_body.requisitos!=null">
                                    <tr>
                                        <td><b>Requisitos</b></td>
                                        <td>
                                            <div [innerHTML]='lista_body.requisitos'></div>
                                        </td>
                                    </tr>

                                </ng-container>
                               
                                <ng-container *ngIf="lista_body.reconocimiento_titulo!=null">
                                    <tr>
                                       <td><b>Reconocimiento del titulo</b></td>
                                       <td>
                                        <div [innerHTML]='lista_body.reconocimiento_titulo'></div>
                                        </td>
                                    </tr>    
                                </ng-container>
                            </tbody>
                        </table>
                        <div class="separador"></div>
                    </div>
                </ng-container>
                
            </div>

        </ng-container>
        

    </ng-container>


    <ng-container *ngIf="verificar==false">
        <div class="container-fluid title">
            <h1>No existen Datos de {{tipo_c}} </h1>
        </div>
    </ng-container>




</ng-container>