<div class="border"></div>
<ng-container *ngIf="loading">
    <app-loadingconfiguracionavanzada></app-loadingconfiguracionavanzada>
  </ng-container>

  <ng-container *ngIf="loading==false">
    <div class="container-fluid ">
        <div class="col-sm titulo">
            <mat-card-title>Pagina Nosotros</mat-card-title>
        </div>
    </div>
    
    <!-- <pre>{{myform.value | json}}</pre> -->

    <div class="container-fluid wrapper">
      <div class="formContent rounded">
        <div class="fadeIn first">
          <h4 class="active"> <span class="titulo"><h3>Modificacion</h3></span></h4>
          <div class="col-sm">
            <div class="row">
               <div class="col-sm-5">
                 <h1>g</h1>
               </div>
               <div class="col-sm">
                <h1>w</h1>
              </div>
            </div>

          </div>
         
        </div>
      </div>
    </div>
  </ng-container>
