.titulo{
    margin-top: 2.5%;
    text-align: center;
    margin-bottom: 3%;
}
.border{
   
    border-bottom: 2px solid rgb(110, 158, 182) !important;
     margin-bottom: 2%;
}
.container-fill
{
    width: 90%;
    height: 50%;
}
.titulo{
    margin-top: 3%;
    text-align: center;
    margin-bottom: 4%;

}

.wrapper{
    /* position: fixed; */
    justify-content: center;
    display: flex;
}
.formContent{
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 100%;
    max-width: 90%;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}
h4.inactive {
    color: #cccccc;
  }
  
h4.active {
    color: gray;
    border-bottom: 2px solid rgb(70, 148, 194);
}

.mda-form-msg{
    color: #f57c74;
}
