<div class="container-fluid titulo">
    <h3>{{titulo}}</h3>
    <!-- <pre>{{selector.value |json}}</pre> -->
</div>
<ng-container *ngIf="loading==true">
<app-loadingconvenios></app-loadingconvenios>
</ng-container>

<ng-container *ngIf="loading==false">
    <!-- <pre>{{myform.value | json}}</pre> -->

    <div class="container-fluid selector">
        <form [formGroup]="selector" autocomplete="off">
        <div class="row">
            <div class="col-sm">
                <mat-form-field class="container-fill" appearance="fill">
                    <mat-label>Convenios</mat-label>
                    <mat-select  formControlName="convenio" (selectionChange)="cambioConvenio()">
                        <ng-container *ngFor="let lista of nombretipoconvenios">
                         <mat-option value="{{lista.id}}">{{lista.nombre_tipo}}</mat-option>
                        </ng-container>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="selector.get('convenio')?.hasError('required') && selector.get('convenio')?.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
            </div>
            <div class="col-sm">
                <mat-form-field class="container-fill" appearance="fill">
                    <mat-label>Especifico</mat-label>
                    <mat-select formControlName="especifico" (selectionChange)="cambioConvenioEspecificos()">
                        <ng-container *ngFor="let lista of convenioEspecificos">
                            <mat-option value="{{lista.id}}">{{lista.descripcion_ce}}</mat-option>
                        </ng-container>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="selector.get('especifico')?.hasError('required') && selector.get('especifico')?.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
            </div>
            <div class="col-sm button-agregar">
                <button  mat-flat-button color="primary"(click)="agregarcategoria()" ><mat-icon>add</mat-icon> <span class="categoria">Categoria Convenio</span></button>
           </div>
    
        </div>
        </form>
    
    </div>
    
    <form [formGroup]="myform" autocomplete="off">
        <div class="container-fluid wrapper">
            <div class="formContent rounded">
                <h4 class="active"> <span class="titulo"><h3>Formulario Convenio</h3></span></h4>
                <div class="fadeIn first">
                        <div class="row" style="margin-top: 5%;">
                            <div class="col-sm">
                                <mat-card  class="card">
                                    <div class="col-sm" style="margin-bottom: 6%;">
                                        <label ><b> <h5>Escudo 1</h5></b></label>
                                    </div>
                                    <div class="col-sm">
                                        
                                        <div class="boton-container">
                                            <img   mat-card-image [src]="this.myform.get('urlimagen1')?.value">
                                            <div class="container-button">
                                                <input [disabled]="myform.get('botonsubir1')?.value" type="Agregar Imagen" class="btn_enviar"type="file" (change)="fileEvent($event)"  accept="image/png,image/jpeg">
                                                <p id="texto"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cloud-upload-fill" viewBox="0 0 16 16">
                                                  <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.5 14.5V11h1v3.5a.5.5 0 0 1-1 0z"/>
                                                </svg></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <button [disabled]="myform.get('escoger1')?.value" (click)="escoger(1)" class="btn-escoger" mat-flat-button color="primary"><mat-icon>collections icon</mat-icon><span> Escoger Imagen</span></button>
                                    </div>
        
                              </mat-card>
                            </div>
                            <div class="col-sm">
                              <mat-card  class="card">
                                  <div class="col-sm" style="margin-bottom: 6%;">
                                    <label ><b> <h5>Escudo 2</h5></b></label>
                                  </div>
                                    <div class="col-sm">
                                        <div class="boton-container">
                                            <img   mat-card-image [src]="this.myform.get('urlimagen2')?.value">
                                            <div class="container-button">
                                                <input [disabled]="myform.get('botonsubir2')?.value" type="Agregar Imagen" class="btn_enviar"type="file" (change)="fileEvent($event)"  accept="image/png,image/jpeg">
                                                <p id="texto"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cloud-upload-fill" viewBox="0 0 16 16">
                                                  <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.5 14.5V11h1v3.5a.5.5 0 0 1-1 0z"/>
                                                </svg></p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm">
                                        <button [disabled]="myform.get('escoger2')?.value" (click)="escoger(2)" class="btn-escoger" mat-flat-button color="primary"><mat-icon>collections icon</mat-icon><span> Escoger Imagen</span> </button>
                                    </div>
                                    
                              </mat-card>
                            </div>
                        </div>
                        <div class="col-sm" style="margin-top: 5%;margin-bottom: 3%;">
                            <mat-label><b><h5>Nombre del Convenio:</h5></b></mat-label>
                            <div class="container-fill" style="margin-left: 15%;" >
                                <ckeditor  formControlName="nombre_convenio" [editor]="Editor" ></ckeditor>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-sm-">
                            <mat-label><b><h5>Comparecientes:</h5></b></mat-label>
                        </div>
                        <div class="col-sm">
                            <div class="container-fill" style="margin-left: 15%;" >
                                <ckeditor  formControlName="comparecientes" [editor]="Editor" ></ckeditor>
                            </div>
                        </div>
                    </div>
                     <!-- clausulas boton -->
                    <div class="row container1">
                        <div class="col-sm">
                            <mat-label><b><h5>Clausulas</h5></b></mat-label>
                        </div>
                        <div class="col-sm">
                            <button (click)=" agregarclausulas()" mat-flat-button color="primary" ><mat-icon>add</mat-icon> <span class="categoria">Clausulas</span></button>
                        </div>
                    </div>
                    <div class="border"></div>
                    <div formArrayName="clausulas" *ngFor="let clausula of clausula.controls; let i = index">
                        <div [formGroupName]="i">
                            <div class="form-group row">
                                <div class="col-md-5 clausula">
                                    <label ><b> <h5>{{i+1}}.-  Clausula</h5></b></label>
                                </div>
                                 
                                <div class="col-md col-sm">
                                    <mat-form-field class="container-fill-nombre" appearance="fill">
                                        <mat-label>Nombre Clausulas</mat-label>
                                        <mat-select formControlName="nombre" (selectionChange)="insertarnombreclausula(i)">
                                            <ng-container *ngFor="let lista of clausulasget">
                                                <mat-option value="{{lista.nombre_clau}}">{{lista.nombre_clau}}</mat-option>
                                            </ng-container>
                                        </mat-select>
                                      </mat-form-field>
                                      <button title="Agregar Nombre Clausula" (click)=" agregarclausulaDialog()" mat-flat-button color="primary" style="margin: 2%;"><mat-icon>add</mat-icon><span></span></button>
                                </div>
                            </div>
                          <div class="form-group row" style="margin-bottom: 2%;"> 
                           <!-- <div class="border"></div>   -->
                            <div class="col-md-9">
                                <div >
                                    <mat-label ><b><h6>Descripcion Clausula:</h6></b></mat-label>
                                </div>
                               
                                <div class="container-fill" style="margin-left: 15%; margin-top: 3%;" >
                                    <ckeditor  formControlName="descripcion" [editor]="Editor" ></ckeditor>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button title="Agregar Articulos" (click)="agregarListaArticulo(i)" class="btn btn-secondary" style="margin: 2%;"><mat-icon>add</mat-icon></button>
                                <button title="Eliminar Clausula" (click)="removerClausulas(i)"class="btn btn-danger" ><mat-icon>delete</mat-icon></button>
                            </div>
                          </div>
                            <div formArrayName="articulos" *ngFor="let articulo of getarticulocontrol(i); let j = index">
                                <div [formGroupName]="j">
                                    <div class="form-group row" style="margin-bottom: 2%;">
                                        <div class="col-md-9">
                                            <div >
                                                <mat-label ><b><h6>Articulo {{i+1}}.{{j+1}}</h6></b></mat-label>
                                            </div>
                                           
                                            <div class="container-fill-articulo" style="margin-left: 35%; margin-top: 3%;" >
                                                <ckeditor  formControlName="des_art" [editor]="Editor" ></ckeditor>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-danger" (click)="removerArticulo(i,j)"><mat-icon>delete</mat-icon></button>
        
                                        </div>
                                    </div>
        
                                </div>
        
                            </div>
        
                        </div>
                       <div class="border"></div>
                      </div>            
    
                    <!-- firmas -->
                    <div class="border"></div>
                    <div class="row">
                        <div class="col-sm">
                           <mat-label><b><h5>Firma Emisor</h5></b></mat-label>
                           <!-- <div class="row"> -->
                               <div class="col-md">
                                   <mat-form-field class="container-fill" appearance="fill">
                                       <mat-label>Firma Emisor</mat-label>
                                       <mat-select formControlName="selectFirmaEmisor" (selectionChange)="insertarobjetofirma($event)">
                                        <ng-container *ngFor="let lista of firmaconvenio">
                                           <mat-option value="{{lista.id}}">{{lista.nombres}}</mat-option>
                                        </ng-container>
                                        
                                       </mat-select>
                                   </mat-form-field>
                                   <div *ngIf="myform.get('selectFirmaEmisor')?.hasError('required') && myform.get('selectFirmaEmisor')?.touched" style="margin-top: -20px;">
                                       <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                                   </div>
       
                               </div>
                              
                        </div>
                        <div class="col-sm">
                           <mat-label><b><h5>Firma Receptor</h5></b></mat-label>
                           <div class="row">
                               <div class="col-md">
                                   <mat-form-field class="container-fill" appearance="fill">
                                       <mat-label>Firma Receptor</mat-label>
                                       <mat-select formControlName="selectFirmaReceptor" (selectionChange)=" insertarobjetofirmaReceptor($event)">
                                           <ng-container *ngFor="let lista of firmaconvenio">
                                               <mat-option value="{{lista.id}}">{{lista.nombres}}</mat-option>
       
                                           </ng-container>  
                                       </mat-select>
                                   </mat-form-field>
                                   <div *ngIf="myform.get('selectFirmaReceptor')?.hasError('required') && myform.get('selectFirmaReceptor')?.touched" style="margin-top: -20px;">
                                       <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="col-sm button-agregar_firma">
                               <button  mat-flat-button color="primary" (click)="agregarfirmaDialog()"><mat-icon>add</mat-icon> <span class="categoria">Agregar Firma</span></button>
                       </div>
                    </div>
    
                    <!-- botones ultimo -->
                    <div class="row">
                        <div class="col-sm">
                           <button title="Guardar" [disabled]="botonguardar" (click)="guardar()" class="btn btn-success" style="margin: 2%;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                               <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                             </svg><span>&nbsp;Guardar</span></button>
                           <button title="Cancelar" (click)="cancelar()" class="btn btn-danger" style="margin: 2%;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                               <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                             </svg><span>&nbsp;Cancelar</span></button>
                           <button [disabled]="botonvista" title="Vista Previa del Documento" (click)="Vista()"  class="btn btn-success" style="margin: 2%;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                               <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                               <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                             </svg><span>&nbsp;Vista</span></button>
                           
                        </div>
                    </div>
    
    
        
                </div>
            </div>
        </div>
    
    </form>

</ng-container>


