.titulo{
    text-align: center;
    font-size: 18px;
    color: rgb(118, 158, 190);
    /* font-family: 'Raleway', sans-serif; */
     font-family: 'Raleway', sans-serif; 
}
.container-fill{
    text-align: center;
    width: 70%;
    color: rgb(82, 107, 187);
}
/* .label-des{
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
} */

.contenido{
    text-align: center;
}

.button-action{
    justify-content: center;
}

.disabled{
    pointer-events: none;
}
.enable{
    pointer-events: auto;

}

