.button-action{
    justify-content: center;
}

.titulo{
    text-align: center;
    font-size: 18px;
    color: rgb(118, 158, 190);
    /* font-family: 'Raleway', sans-serif; */
     font-family: 'Raleway', sans-serif; 
}