<ng-container *ngIf="loadingspinner==true">
  <app-spinnerconfiguracionavanzada></app-spinnerconfiguracionavanzada>
</ng-container>
<!-- <div class="separador"></div> -->
<ng-container *ngIf="loading">
  <app-loadingconfiguracionavanzada></app-loadingconfiguracionavanzada>
</ng-container>

<ng-container *ngIf="loading==false">
  <div mat-dialog-content class="contenido">
    <div class="container-fluid wrapper">
    <div class="formContent rounded">
      <div style="text-align: center;">
        <h4 class="active"> <span>
          <p class="titulo">{{data.titulo}}</p>
            </span></h4>
    <div class="col-sm m-auto" style="margin-top: 5%;">
      <table class="table table-bordered table-responsive table-primary" style="margin: 1px; ">
            <thead>
              <tr style="text-align: center; font-size: 14px;">
                <th scope="col">#</th>
                <th scope="col">Dato Viejo</th>
                <th scope="col">Dato Nuevo</th>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align: justify;" *ngFor="let c of listaHistorial">
                <th scope="row">{{c.position}}</th>
                <td>{{c.dato_viejo}}</td>
                <td>{{c.dato_nuevo}}</td>
              </tr>
            </tbody>
          </table>
<div mat-dialog-actions class="button-action">
<button mat-flat-button color="primary" [mat-dialog-close]="data.objeto" cdkFocusInitial>Aceptar</button>
</div>