<ng-container *ngIf="loading">
    <app-loading></app-loading>
</ng-container>
<ng-container *ngIf="loading==false">
    <div class="container-fluid titulo">
        <div class="row">
            <div class="col-sm-8 titulo2">
                <h1>Becas por Nivel de Estudio</h1>
            </div>
            
            <div class="col-sm btn-solicitud">
                
                        <a (click)="dialogconsultar()" style="margin: 2%;" class="btn btn-secondary text-white" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg>&nbsp;Consultar</a>

                        <a (click)="openDialog()" class="btn btn-success text-white" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
                            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"/>
                          </svg>&nbsp;Solicitud</a>
                   
                
                

            </div>
        </div>
       
    </div>
    <div class="container-fluid">
        <div class="row imagenesresponsive">
            <div class="col-sm crs">
                <img src="{{pathBiblioteca}}" width="20%">
                <h5>Biblioteca <br> Virtual
                </h5>
                <p>Bibliotecas<br>
                    Internacionales <br>
                </p>
                <a (click)="opcion_seleccionado('Bibliotecavirtual')"class="btn btn-outline-success">Ver Más</a>
            </div>
            <div class="col-sm crs">
                <img src="{{pathCapacitaciones}}" width="25%">
                <h5>Capacitaciones</h5>
                <ng-container *ngIf="auxc==0">
                     <p>No hay Datos<br>
                        <br>
                        <br>
                     </p>
                    <a class="btn btn-outline-success">Ver Más</a>
                </ng-container>
                <ng-container *ngIf="auxc==1">
                    <p>{{listaC[0].nombre}} <br>
                    <br>
                    <br>
                   </p>
                   <a (click)="opcion_seleccionado('Capacitaciones')"class="btn btn-outline-success">Ver Más</a>
                   </ng-container>
                   <ng-container *ngIf="auxc==2">
                    <p>{{listaC[0].nombre}} <br>
                      {{listaC[1].nombre}} <br>
                       <br>
                    </p>
                    <a (click)="opcion_seleccionado('Capacitaciones')"class="btn btn-outline-success">Ver Más</a>
                   </ng-container>

                   <ng-container *ngIf="auxc==3">
                    <p>{{listaC[0].nombre}} <br>
                        {{listaC[1].nombre}} <br>
                        {{listaC[2].nombre}}
                      </p>
                      <a (click)="opcion_seleccionado('Capacitaciones')"class="btn btn-outline-success">Ver Más</a>
                </ng-container>
            </div>
            <div class="col-sm crs">
                <img src="{{pathPregrado}}" width="25%">
                <h5>Movilidad</h5>
                <ng-container *ngIf="auxp==0">
                    <p>
                    No hay Datos<br>
                    <br>
                    <br>
                    </p>
                    <a class="btn btn-outline-success">Ver Más</a>
                </ng-container>
                <ng-container *ngIf="auxp==1">
                    <p>{{listaP[0].nombre}} <br>
                    <br>
                    <br>
                   </p>
                   <a (click)="opcion_seleccionado('Pregrado')"class="btn btn-outline-success">Ver Más</a>
                </ng-container>
                <ng-container *ngIf="auxp==2">
                    <p>{{listaP[0].nombre}} <br>
                      {{listaP[1].nombre}} <br>
                       <br>
                    </p>
                    <a (click)="opcion_seleccionado('Pregrado')"class="btn btn-outline-success">Ver Más</a>
                </ng-container>
                <ng-container *ngIf="auxp==3">
                    <p>{{listaP[0].nombre}} <br>
                        {{listaP[1].nombre}} <br>
                        {{listaP[2].nombre}}
                      </p>
                      <a (click)="opcion_seleccionado('Pregrado')"class="btn btn-outline-success">Ver Más</a>
    
                </ng-container>
            </div>
            <div class="col-sm crs">
                <img src="{{pathInvestigacion}}" width="25%">
                <h5>Investigacion</h5>
                <ng-container *ngIf="auxi==0">
                    <p>
                    No hay Datos<br>
                    <br>
                    <br>
                    </p>
                    <a class="btn btn-outline-success">Ver Más</a>
                </ng-container>
                <ng-container *ngIf="auxi==1">
                    <p>{{listaI[0].nombre}} <br>
                    <br>
                    <br>
                   </p>
                   <a (click)="opcion_seleccionado('Investigacion')"class="btn btn-outline-success">Ver Más</a>
                </ng-container>
                <ng-container *ngIf="auxi==2">
                    <p>{{listaI[0].nombre}} <br>
                      {{listaI[1].nombre}} <br>
                       <br>
                    </p>
                    <a (click)="opcion_seleccionado('Investigacion')"class="btn btn-outline-success">Ver Más</a>
                </ng-container>
                <ng-container *ngIf="auxi==3">
                    <p>{{listaI[0].nombre}} <br>
                        {{listaI[1].nombre}} <br>
                        {{listaI[2].nombre}}
                      </p>
                      <a (click)="opcion_seleccionado('Investigacion')"class="btn btn-outline-success">Ver Más</a>
                </ng-container>
            </div>
            <div class="col-sm crs imagen4">
                <img src="{{pathMaestria}}" width="25%">
                <h5>Maestrías</h5>
                <ng-container *ngIf="auxm==0">
                    <p>
                    No hay Datos<br>
                    <br>
                    <br>
                    </p>
                    <a class="btn btn-outline-success">Ver Más</a>
                </ng-container>
                <ng-container *ngIf="auxm==1">
                    <p>{{listaM[0].nombre}} <br>
                    <br>
                    <br>
                   </p>
                   <a (click)="opcion_seleccionado('Maestrias')"class="btn btn-outline-success">Ver Más</a>
                </ng-container>
                <ng-container *ngIf="auxm==2">
                    <p>{{listaM[0].nombre}} <br>
                      {{listaM[1].nombre}} <br>
                       <br>
                    </p>
                    <a (click)="opcion_seleccionado('Maestrias')"class="btn btn-outline-success">Ver Más</a>
                </ng-container>
                <ng-container *ngIf="auxm==3">
                    <p>{{listaM[0].nombre}} <br>
                        {{listaM[1].nombre}} <br>
                        {{listaM[2].nombre}}
                      </p>
                      <a (click)="opcion_seleccionado('Maestrias')"class="btn btn-outline-success">Ver Más</a>
                </ng-container>
            </div>
            <div class="col-sm crs imagen5">
                <img src="{{pathDoctorado}}" width="25%">
                <h5>Doctorados</h5>
                <ng-container *ngIf="auxd==0">
                   <p>
                    No hay Datos<br>
                    <br>
                    <br>
                   </p>
                    <a  class="btn btn-outline-success" >Ver Más</a>
                </ng-container>
                <ng-container *ngIf="auxd==1">
                    <p>{{listaD[0].nombre}} <br>
                    <br>
                    <br>
                   </p>
                   <a (click)="opcion_seleccionado('Doctorados')" class="btn btn-outline-success" >Ver Más</a>
                </ng-container>
                <ng-container *ngIf="auxd==2">
                    <p>{{listaD[0].nombre}} <br>
                      {{listaD[1].nombre}} <br>
                       <br>
                    </p>
                    <a (click)="opcion_seleccionado('Doctorados')" class="btn btn-outline-success" >Ver Más</a>
                </ng-container>
                <ng-container *ngIf="auxd==3">
                    <p>{{listaD[0].nombre}} <br>
                        {{listaD[1].nombre}} <br>
                        {{listaD[2].nombre}}
                      </p>
                      <a (click)="opcion_seleccionado('Doctorados')" class="btn btn-outline-success" >Ver Más</a>
    
                </ng-container>
       
            </div>


        </div>
    </div>
    

</ng-container>




