<ng-container *ngIf="loading && loadingf">
<app-loading></app-loading>
</ng-container>

<ng-container *ngIf="loading==false && loadingf==false">
    <div class="container-fluid logo">
        <img src="{{ pathLogoUTM }}" alt="" />
      </div>
      <div class="container-fluid body">
        <div class="row ">
           <div class="col-sm marco">
            <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              <ng-container *ngFor="let lista of listaMarco">
                {{lista.descripcion}}
             </ng-container>
              </button>
    
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <ng-container *ngFor="let aniomacro of listaAnioMarco">
                  <li><a (click)="indicar_anio_marco(aniomacro)" class="dropdown-item"> {{aniomacro}}</a></li>
                </ng-container>
                
    
              </ul>
           </div>
           <div class="col-sm marco-internacional">
            <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              <ng-container *ngFor="let lista of listaMarcoInter">
                {{lista.descripcion}}
             </ng-container>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <ng-container *ngFor="let aniomacrointer of listaAnioMarcoInter">
                  <li><a (click)="indicar_anio_marco_inter(aniomacrointer)" class="dropdown-item"> {{aniomacrointer}}</a></li>
                </ng-container>
              </ul>
        </div>
        <div class="col-sm especifico">
            <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              <ng-container *ngFor="let lista of listaEspecifico">
                {{lista.descripcion}}
             </ng-container>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <ng-container *ngFor="let anioespe of listaAnioEspecifico">
                  <li><a (click)="indicar_anio_especifico(anioespe)" class="dropdown-item"> {{anioespe}}</a></li>
                </ng-container>
              </ul>
        </div>
    
        <div class="col-sm reglamento">
            <button  class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              <ng-container *ngFor="let lista of listareglamento">
                {{lista.descripcion}}
             </ng-container>
              </button>
              
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a  href="2012a.html" class="dropdown-item"> 2012</a></li>
              
              </ul>
        </div>
        </div>
    </div>
</ng-container>



