<div mat-dialog-content class="contenido">
    <p class="titulo">{{data.titulo}} <mat-icon>book</mat-icon> </p>
    
    <ng-container *ngIf="data.objeto.tipo=='I'">
      <mat-form-field class="container-fill"  appearance="fill">
        <mat-label class="label-des">Nombre Categoria</mat-label>
        <input matInput [(ngModel)]="data.objeto.nombre">
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="data.objeto.tipo =='M'">
      <mat-form-field class="container-fill"  appearance="fill">
        <mat-label class="label-des">Nombre Categoria</mat-label>
        <input matInput [(ngModel)]="data.objeto.nombre">
      </mat-form-field>
    </ng-container>
    
  </div>

  <div mat-dialog-actions class="button-action">
    <button mat-button color="accent" (click)="onNoClick()">Cancelar</button>
    <button mat-button  color="primary" [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
  </div>
