<ng-container *ngIf="opcion== 'Normal'">
    <div class="container-fluid footerUTM" >
        <footer>
            <p>Universidad&nbsp; Técnica de Manabí | Dirección de TICS, Área de Desarrollo de Software</p>
        </footer>
        
    </div>
</ng-container>
<ng-container *ngIf="opcion=='Flotante'">
    <div class="container-fluid footerUTM2" >
        <footer>
            <p>Universidad&nbsp; Técnica de Manabí | Dirección de TICS, Área de Desarrollo de Software</p>
        </footer>
        
    </div>
</ng-container>