<ng-container *ngIf="loadingspinner">
  <app-spinnerconfiguracionavanzada></app-spinnerconfiguracionavanzada>
</ng-container>

<ng-container *ngIf="loading">
    <app-loadingconfiguracionavanzada></app-loadingconfiguracionavanzada>    
</ng-container>
    <ng-container *ngIf="loading==false">
    <div class="container-fluid" style="margin-top: 2%;">
        <div class="row">
        <div class="col-sm-8 titulo">
          <h2><mat-icon style="color: rgb(23, 24, 24);">assignment</mat-icon> Historial de Actividades </h2>
        </div>

    </div>
        <div class="col-sm">
            <mat-form-field class="mat-form-field-filtro">
                <mat-label>Filtro</mat-label>
                <input matInput [(ngModel)]="filtro" (keyup)="applyFilter($event)" placeholder="Filtro Tabla" />
                <button *ngIf="filtro" matSuffix mat-icon-button aria-label="Clear" (click)="filtro=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            <table class="table table-bordered table-responsive table-primary" style="margin: 1px; ">
                <thead>
                  <tr style="text-align: center; font-size: 14px">
                    <th scope="col">#</th>
                    <th style="width: 7%;"scope="col">Cedula</th>
                    <th style="width: 14%;"scope="col">Apellidos</th>
                    <th style="width: 14%;"scope="col">Nombres</th>
                    <th style="width: 10%;"scope="col">Titulo</th>
                    <th style="width: 20%;"scope="col">Detalle</th>
                    <th style="width: 15%;"scope="col">Dato viejo</th>
                    <th style="width: 15%;"scope="col">Dato nuevo</th>
                    <th style="width: 15%;"scope="col">Fecha</th>
                    <th style="width: 7%;"scope="col"> Acciones</th>
                  </tr>
                </thead>
                 <tbody>
                  <tr  *ngFor="let c of listaHistorial |pagination :pageSize :pageNumber | buscarHistorial :filtro;">
                        <th scope="row" style="text-align: center;">{{c.position}}</th>
                        <td style="text-align: justify; text-align: center; font-size: 13px">{{c.cedula}}</td>
                        <td style="text-align: justify; text-align: center; font-size: 13px">{{c.apellidos}}</td>
                        <td style="text-align: justify; text-align: center; font-size: 13px">{{c.nombres}}</td>
                        <td style="text-align: justify; text-align: justify; font-size: 13px">{{c.titulo}}</td>
                        <td style="text-align: justify; text-align: justify; font-size: 13px">{{c.detalle}}</td>
                        <td style="text-align: justify; text-align: justify; font-size: 13px">{{c.dato_viejo}}</td>
                        <td style="text-align: justify; text-align: justify; font-size: 13px">{{c.dato_nuevo}}</td>
                        <td style="text-align: justify; text-align: justify; font-size: 13px">{{c.fecha_creacion}}</td>
                        <td>
                          <a title="Ver Datos" (click)="opendialogInformacion(c.id)" style="cursor: pointer; margin: 4%; color: cornflowerblue;"><mat-icon>remove_red_eye</mat-icon></a>
                          <!-- <button mat-flat-button color="primary"><mat-icon>visibility</mat-icon></button> -->
                          </td>
                        
                  </tr>
                </tbody> 
              </table>
          
              <div>
                <mat-paginator class="table-primary" [length]="listaHistorial.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                  aria-label="Select page" (page)="handlePagePending($event)">
                </mat-paginator>
              </div>
        </div>   
    </div>
    
    </ng-container>
