.container-fill{
    width: 70%;
}

.wrapper{
    /* position: fixed; */
    justify-content: center;
    display: flex;
}
.formContent{
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 100%;
    max-width: 90%;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}
h6.inactive {
    color: #cccccc;
  }
  
h6.active {
    color: gray;
    border-bottom: 2px solid rgb(70, 148, 194);
}

.button-action{
    text-align: center;
    justify-content: center;
}

/* button  file */

.icon-container{
    margin-top: 4%;
    display: inline-block;
    position: relative;
}
.mda-form-msg{
    color: #f57c74;
}

.container-button{
    position: absolute;
    margin-left: 65%;
    top: 78%;
    background-color: rgb(57, 61, 59);
    width: 20px;
    height: 20px;
    border-radius:0%;
}
.btn_enviar{
    position: absolute;
    width: 30px;
    left: 0.1%;
    opacity: 0;
   }
   p#texto{
       text-align: center;
       color:white;
     }
