<ng-container *ngIf="loading"> 
    <app-loading></app-loading>
    </ng-container>
    
    <ng-container *ngIf="loading==false">
    <div class="container-fluid titulo">
        <div class="row">
            <div class="col-sm-7 titulo2">
                <h1>Movilidad</h1>
            </div>
            <div class="col-sm btn-solicitud">
                <a (click)="dialogconsultar()" style="margin: 2%;" class="btn btn-secondary text-white" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>&nbsp;Consultar</a>
                  
                <a  (click)="openDialog()" class="btn btn-success text-white" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"/>
                  </svg>&nbsp;Solicitud</a>

            </div>
        </div>
       
    </div>
    
    <div class="container-fluid logo">
        <img  src="{{pathmovilidad}}" alt="">
    </div>
    
    <div class="container-fluid body" >
        <!-- fila 1 -->
        <div class="row ">
            
            <div class="col-sm" >
                <h1 class="titulo1">Objetivo General</h1>
                <div style="margin-top: 3%; text-align: justify;">
                <p>
                    <ng-container *ngFor="let lista of listaobjetivo">
                        {{lista.descripcion}}
                     </ng-container>
                     <ng-container *ngIf="listaobjetivo.length==0">
                        No existe Datos en el Objetivo General
                     </ng-container>
                </p>
                </div>
            </div>

            <div class="col-sm" >
                <h1 class="titulo1">Programa de movilidad académica estudiantil</h1>
                <div style="margin-top: 3%; text-align: justify;">
                <p> <ng-container *ngFor="let lista of listaprograma">
                    {{lista.descripcion}}
                 </ng-container>
                 <ng-container *ngIf="listaprograma.length==0">
                    No existe Datos en el Programa de Movilidad
                 </ng-container></p>
                </div>
                 
            </div>
        </div>
        <!-- fila 2 -->
        <div class="row" style="margin-top: 3%;">
            <div class="col-sm" >
                <h1 class="titulo1">Beneficios</h1>
                <div style="margin-top: 3%; text-align: justify;">
                    <p>
                        <ng-container *ngFor="let lista of listabeneficios">
                            {{lista.descripcion}}
                         </ng-container>
                         <ng-container *ngIf="listabeneficios.length==0">
                            No existe Datos en los Beneficios
                         </ng-container>
                    </p>

                </div>
                
            </div>
            <div class="col-sm">
                <h1 class="titulo1">Mas Informacion</h1>
                <div style="margin-top: 3%;">
                    <p>
                        <ng-container *ngFor="let lista of listainformacion">
                            {{lista.descripcion}}
                         </ng-container>
                       </p>

                </div>
               
                <div style="margin-top: 2%;">
                    <ng-container *ngFor="let lista of listainformacion">
                        <a  class="btn btn-success text-white" href="{{lista.PDF}}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-download" viewBox="0 2 18 18">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                          </svg>&nbsp;Descargar</a>
                    </ng-container>
                    <ng-container *ngIf="listainformacion.length==0">
                        <a  class="btn btn-success text-white" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-download" viewBox="0 2 18 18">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                          </svg>&nbsp;Descargar</a>
                    </ng-container>

                </div>
                
            </div>
        </div>
    </div>
</ng-container>
    