.titulo{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-style: normal;
    color: gray;
    padding: 40px;
}
.logo{
text-align: center;
}
.logo img{
width: 50%;
}

.titulo1{
font-size: 25px;
text-align: center;
color: black;
}

.body{
padding-left: 2%;
padding-bottom: 2%;
margin-top: 4%;
text-align: justify;
}